* {
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
body {
  background: #95b9c9;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  cursor: pointer;
}
#header {
  padding: 10px 0;
  background-color: #fff;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.header h3 {
  color: #000;
}

.create input::placeholder {
  font-size: 20px;
  padding-left: 20px;
}
a {
  text-decoration: none;
}
#create {
  padding: 28px 0;
}
.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: none;
}
.create input {
  width: 549px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
button {
  border: none;
}
.create button {
  border-radius: 10px;
  background: #ddaa27;
  width: 184.1px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  font-size: 24px;
}
.create h2 {
  color: #33332d;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3px;
}

#munu {
  padding: 28px 0;
}
.munu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cards {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
